.swipper {
  background-color: #fff;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide {
    width: 100%;
    padding: 0;
  }

  .slide-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 500px;
    background: #f5faff;
    overflow: hidden;
  }

  .slide-text {
    padding: 60px 50px;
    max-width: 500px;
    z-index: 1;
    margin: auto 0;

    @media (max-width: 940px) {
      max-width: 400px;
    }
  }

  .slide-text h2 {
    font-size: 2.3rem;
    color: #003566;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .slide-text p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .slide-btn {
    display: inline-block;
    padding: 12px 28px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }

  .slide-btn:hover {
    background-color: #0056b3;
  }

  .slide-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 0;

    @media (max-width: 1300px) {
      width: 55%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }

  @media (max-width: 768px) {
    .slide-content {
      display: flex;
      flex-direction: column;
      clip-path: none;
    }

    .slide-text {
      padding: 20px 20px;
      max-width: 100%;

      p {
        line-height: 1.4;
        margin-bottom: 20px;
      }
    }

    .slide-image {
      position: relative;
      clip-path: none;
      height: 340px;
    }

    .slide-image img {
      height: 100%;
    }
  }
}
